@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <br />
</div>

<div class="row">
    <div class="col-md-12">
        <img src="~/Images/bluelogo.jpg" class="img-responsive center-block" />
    </div>
</div>

<div class="row">
    <div class="col-md-3 well">
        <button class="btn btn-large btn-primary btn-block" data-toggle="collapse" data-target="#About"><span class="glyphicon glyphicon-collapse-down"> About</span></button>
        <div id="About" class="collapse">
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
            </div>
       

    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-3 well">
       
        <button class="btn btn-large btn-primary btn-block" data-toggle="collapse" data-target="#Contacts">
            <span class="glyphicon glyphicon-phone-alt"> Contact Us</span>
        </button>
        <div id="Contacts" class="collapse">
            <address>
                <span class="glyphicon glyphicon-envelope">Address</span><br /><br />
                PowerHouse Global Consulting<br />

                P.O BOX 26185-00100<br />
                Real Towers, Hospital Road<br />
                Nairobi, Kenya<br /><br />

                <abbr class="glyphicon glyphicon-phone-alt" title="Phone"> </abbr>
                +254725403210 | +254725079402
            </address>

            <address class="glyphicon glyphicon-send">
                <strong>Email:</strong> <a href="mailto:powerhouseglobalconsulting@gmail.com">powerhouse@gmail.com</a><br />

            </address>
            </div>

        </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-3 well">
        <button class="btn btn-large btn-primary btn-block" data-toggle="collapse" data-target="#Events">
            <span class="glyphicon glyphicon-cloud"> Events</span>
        </button>
        <div id="Events" class="collapse">
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        </div>
        
        
    </div>
</div>